[submodule "0x19-stacks_queues_lifo_fifo/--force"]
	path = 0x19-stacks_queues_lifo_fifo/--force
	url = git@github.com:taiebchaabini/monty.git
[submodule "0x19-stacks_queues_lifo_fifo/monty"]
	path = 0x19-stacks_queues_lifo_fifo/monty
	url = git@github.com:taiebchaabini/monty.git
